@model HotelBookingSystem.Models.Room

@{
    ViewData["Title"] = "Add Room";
}

<h2 class="fw-bold mb-4">Add Room</h2>

<div class="card shadow-sm">
    <div class="card-body">

        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Type" class="form-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Capacity" class="form-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PricePerNight" class="form-label"></label>
                <input asp-for="PricePerNight" class="form-control" />
                <span asp-validation-for="PricePerNight" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Room Image</label>
                <input type="file" name="imageFile" class="form-control" />
            </div>

            <button class="btn btn-primary">Create Room</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>

        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
